{% extends 'base.html'%}
{% block myContent %}



  <div class="container">
    <div class="row">
      <div class="col col-12 col-sm-6 col-md-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus pariatur ipsam cum quaerat voluptates molestias praesentium reiciendis provident, fugiat voluptatem sed error omnis tempora! Ipsum tempore harum quis. Cum, et?

      </div>
      <div class="col col-12 col-sm-6 col -md-8">
          <table>
              <tr>
                  <td>student name    </td>
                  <td><input type="text"></td>
      
              </tr>
              <tr>
                  <td>rollno</td>
                  <td><input type="text"></td>
      
                  
              </tr>
              <tr>
                  <td>admission no</td>
                  <td><input type="text"></td>
                  <tr>
                    <td></td>
                      <td><button class="btn btn-success">submit</button></td>
                  </tr>
              </tr>
          </table>
      </div>
    </div>
  </div>
  {% endblock %}